*.egg-info
__pycache__/
.ipynb_checkpoints/
dist/
build/
.vscode/
node_modules/
package*

lib/
bash/
logs/
wandb/

asset/agent*
asset/demonstration*
asset/environments/resource/wallpapers_bmp
asset/dataset

bmoca/environment/evaluator_script/base/*.db
bmoca/environment/evaluator_script/snapseed/*.xml
bmoca/environment/evaluator_script/wikipedia/*.xml

*debug*
*note*
*_evaluate*.py
*.pt
*.pdf
*.npy
*.apk
*/.DS_Store
